<div class="jumbotron hero">
        <h1 class="hero-title">KJ Designs</h1>
        <p class="hero-subtitle">Stay Chaudi Strong</p>
        <h2 class="subtitle2">Specializing in service learning, networking, teaching, graphic designs, and web development</h2>
        <br>
        <!-- <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p> -->

</div>
<br>
<!-- <h1 class="text-center">Latest Places On Guam</h1> -->


  <h1 class="text-center display-4">Latest Places On Guam</h1>
  <br>



  <div class="row">
   <div class="col-12 col-md-10 offset-md-1 text-center">


   <%= link_to "Add a new hangout", new_place_path, class: "btn btn-info" %>

     <%= link_to "Show All Places",places_path, class: "btn btn-info" %>
   </div>

   </div>
 </div>




<div class="row">
<% @places.each do |place| %>






        <div class="col-12 col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-image">
                  <% if place.photos.present? %>
                     <%= link_to place_path(place) do %>
                      <%= image_tag place.photos.last.picture, class: "photo-100 img-fluid" %>
                     <% end %>
                    <% else %>
                       <%= link_to place_path(place) do %>
                       <!-- <img class="photo-100 img-fluid" src="http://lorempixel.com/555/300/nature"> -->
                       <%= image_tag "image-filler.jpg", class: "photo-100 img-fluid" %>
                     <% end %>
                  <% end %>



                </div><!-- card image -->

                <div class="card-content">
                    <span class="card-title"><%=link_to place.name, place_path(place) %></span> &nbsp;
                    <% if place.user%>
                      <small>Posted By: <%= link_to place.user.username, profile_path(place.user.username) %></small>
                    <% end %>

                  <% if place.categories.any? %>
                    <div class="pull-right">
                      <p>Categories</p>
                      <%= render place.categories %>
                    </div>
                  <% end %>



                </div><!-- card content -->
                <div class="card-action">
                    <%= place.description.truncate(50) %>
                    <br>
                    Location:
                    <%= place.address.truncate(50) %>

                    <% if place.comments.present? %>
                    <br><small>Lastest Comment:</small> <br>

                      <% if place.comments.last.humanized_rating.present? %>
                        <b><%= place.comments.last.humanized_rating %></b> -
                      <% end %>
                      <%= place.comments.last.message.truncate(50) %>
                      <small><i><%= place.comments.last.user.username %></i></small>
                    <% end %>
                </div><!-- card actions -->

            </div>
        </div>

<% end %>
  </div>

<% if @all_places.count > 4 %>
<div class="row">
  <div class="col-4 offset-4">
    <%= link_to places_path do%>
      <div class="basicBox">
        View More
        <svg width="130" height="65" viewBox="0 0 130 65" xmlns="http://www.w3.org/2000/svg">
          <rect x='0' y='0' fill='none' width='130' height='65'/>
        </svg>
      </div>
    <% end %>
  </div>
</div>
<% end %>
