<div class="jumbotron hero">
        <h1 class="hero-title">KJ Designs</h1>
        <p class="hero-subtitle">Stay Chaudi Strong</p>
        <h2 class="subtitle2">Specializing in service learning, networking, teaching, graphic designs, and web development</h2>
        <br>
        <!-- <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p> -->

</div>
<br>
<!-- <h1 class="text-center">Latest Places On Guam</h1> -->


  <h1 class="text-center display-4">Latest Places On Guam</h1>
  <br>
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 text-center">


  <%= link_to "Add a new hangout", new_place_path, class: "btn btn-info" %>

    <%= link_to "Show All Places",places_path, class: "btn btn-info" %>
  </div>

  </div>
</div>






<div class="row">
<% @places.each do |place| %>

  <div class="col-lg-3 col-md-4 col-sm-6 place-index">
      <article class="card">
      <header class="title-header">
      <br>
        <h3 class="text-center"><%=place.name%></h3>
      </header>
      <div class="card-block">
        <div class="img-card">
         <% if place.photos.present? %>
         <%= link_to place_path(place) do %>
          <%= image_tag place.photos.last.picture, class: "img-fluid" %>
         <% end %>


         <% end %>

        </div>
        <p class="tagline card-text text-xs-center"><%= place.description.truncate(50) %></p>
        <p class="tagline card-text text-xs-center"><i><%= place.address %></i></p>
        <%= link_to place_path(place), class: "btn btn-outline-info btn-sm" do %>
          <i class="fa fa-eye"></i> Read More
        <% end %>


      <% if place.categories.any? %>
      <br>
        <p>Categories</p>
        <%= render place.categories %>
      <% end %>
      <br>
      <% if place.user%>
        <small>Posted By: <%=place.user.username %></small>
      <% end %>
      <% if place.comments.present? %>
      <br><small>Lastest Comment:</small> <br>

        <% if place.comments.last.humanized_rating.present? %>
          <b><%= place.comments.last.humanized_rating %></b> -
        <% end %>
        <%= place.comments.last.message.truncate(50) %>
        <small><i><%= place.comments.last.user.username %></i></small>
      <% end %>

      </div>


    </article>
  </div>



<% end %>
</div>




<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>




<div class="row">
<% @places.each do |place| %>






        <div class="col-12 col-sm-10 offset-sm-1">
            <div class="card">
                <div class="card-image">
                  <% if place.photos.present? %>
                     <%= link_to place_path(place) do %>
                      <%= image_tag place.photos.last.picture, class: "img-fluid" %>
                     <% end %>
                    <% else %>
                      <img class="img-fluid" src="http://lorempixel.com/555/300/nature">
                  <% end %>



                </div><!-- card image -->

                <div class="card-content">
                    <span class="card-title"><%= place.name %></span> &nbsp;
                    <% if place.user%>
                      <small>Posted By: <%=place.user.username %></small>
                    <% end %>

                  <% if place.categories.any? %>
                    <div class="pull-right">
                      <p>Categories</p>
                      <%= render place.categories %>
                    </div>
                  <% end %>



                </div><!-- card content -->
                <div class="card-action">
                    <%= place.description.truncate(50) %>
                    <br>
                    Location:
                    <%= place.address.truncate(50) %>

                    <% if place.comments.present? %>
                    <br><small>Lastest Comment:</small> <br>

                      <% if place.comments.last.humanized_rating.present? %>
                        <b><%= place.comments.last.humanized_rating %></b> -
                      <% end %>
                      <%= place.comments.last.message.truncate(50) %>
                      <small><i><%= place.comments.last.user.username %></i></small>
                    <% end %>
                </div><!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>

<% end %>
  </div>


