<!-- <div class="message">
  <div class="message-user">
    <%= message.user.username %>:
  </div>
  <div class="message-content">
    <%= message.content%>
  </div>
</div>
 -->



                <div class="panel-body body-panel">
                    <ul class="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <!-- <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="rounded-circle" /> -->
                            <%= profile_avatar_select(message.user) %>
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font"><%= message.user.username %></strong> <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(message.created_at) %> ago</small>
                                </div>
                                <p class="wrap">
                                    <%= message.content %>
                                   <!--  <%=link_to "Delete",message_path(message),method: :delete, data: {confirm: "Are you sure you want to delete this?"} %> -->
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

