<div class="username text-center booyah-box col-12 col-sm-10 offset-sm-1">

  <div class="posts-wrapper">
    <div class="row profile-header">
      <div class="col-sm-6">
        <div class="rounded-circle">
          <%= profile_avatar_select(@user) %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="user-name-and-follow">
          <h3 class="profile-user-name">
            <%= @user.username %>
          </h3>
          <span>
            <% if @user === current_user %>
              <%= link_to "Edit Profile", edit_profile_path(@user.username), class: "btn edit-button" %>
            <% end %>
          </span>
        </div>
        <p class="profile-bio">
          <%= @user.bio %>
        </p>
        <div class="user-statistics">
          <p><%= pluralize @user.places.count, 'place' %></p>
        </div>
      </div>


    </div>
  </div>


  <h1 class="display-6"><%= @user.username %>'s added places</h1>

  <br>

  <% @places.each do |place| %>
  <% if place.present? %>

  <div class="booyah-box col-12 col-sm-10 offset-sm-1">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h1><%= link_to place.name, place_path(place) %></h1>
      <i><%= place.address %></i> <br> <br>
      <p><%= place.description %></p> <br>
      <p>
        <%= link_to place_path(place), class: "btn btn-outline-info" do %>
          <i class="fa fa-eye"></i> View Info
        <% end %>

      </p>
      <% if place.user%>

        <small>Posted By: <%= link_to place.user.username, profile_path(place.user.username) %></small>

      <% end %>

       <% if place.categories.any? %>
      <br>
        <p>Categories</p>
        <%= render place.categories %>
      <% end %>

    </div>


    <div class="col-12 col-sm-6">
        <% if place.photos.present? %>
       <!-- <div class="row"> -->
        <!-- <div class="col-xs-12 col-sm-4"> -->
        <div class="col-12 center-it">
          <div class="booyah-box">
            <%= link_to place_path(place) do %>
            <%= image_tag place.photos.last.picture, class: 'index-photo img-fluid rounded' %>
            <% end %>
            <div class="clear"></div>
            <br/>
            <b><%= place.photos.last.caption %></b>
          </div>
        </div>
       <!-- </div>  -->
       <% else %>
         <div class="col-12 center-it">
            <div class="booyah-box">
              <%= link_to place_path(place) do %>
              <%= image_tag "image-filler.jpg", class: 'index-photo img-fluid rounded' %>
              <% end %>
            </div>
         </div>

      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1">


      <% if place.comments.present? %>

         <div class="col-12">
          <blockquote>
            <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b> -
            <% end %>
            <%= place.comments.last.message %>
            <small><%= place.comments.last.user.username %></small>
          </blockquote>
        </div>

      <% end %>
    </div>
  </div>

</div>


  <% else %>
    <p>No Current Added Places</p>
  <%end%>
  <% end %>
</div>


<div class="username text-center booyah-box col-12 col-sm-10 offset-sm-1">
  <h1 class="display-6"><%= @user.username %>'s photos</h1>

  <br>

<% @photos.each do |photo| %>
  <% if photo.present? %>
    <%= render "places/photos", photo: photo %>
  <% else %>
        <p>No Photos Currenlty Uploaded</p>

  <% end %>
<% end %>
