


                <div class="comments" id="comments_<%=photo.id%>">
                     <% if photo.comment_to_photos.present? %>
                     <hr>
                     <br>
                     <div class="paginator" id="comments-paginator-<%=photo.id%>">
                       <% unless photo.comment_to_photos.count <=4 %>
                        <%= link_to "view all #{photo.comment_to_photos.count} comments", place_path(photo.place),remote: true, class: "more-comments", data:{photo_id: "#{photo.id}", type: "html"} %>
                        <% comments = photo.comment_to_photos.last(4) %>
                        <% comments.each do |comment| %>
                          <h1><%=comment.photo_comment%></h1>
                        <% end %>
                        <% end %>

                     </div>
                     <p class="text-center">Comments</p>
                      <% photo.comment_to_photos.each do |comment| %>
                        <!-- <h1><%=comment.photo_comment%></h1> -->

                      <% if comment.user.present? %>
                      <div class="user-name">
                          <b><%= comment.user.username %></b>
                      </div>
                      <% end %>
                      <div class="comment-content">
                          <%= comment.photo_comment %>

                      </div>
                      <% if comment.user == current_user %>
                          <%= link_to photo_comment_to_photo_path(photo,comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                              <span class= "delete-comment pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                          <% end %>
                      <% end %>
                      <br>




                      <% end %>
              <% end %>
                </div>


