


                <div class="comments" id="comments_<%=photo.id%>">
                     <% page = @page || 1 %>
                     <!-- <% if photo.comment_to_photos.present? %> -->
                     <!-- <hr> -->
                     <!-- <br> -->
                     <!-- <p class="text-center">Comments</p> -->
                      <% photo.comment_to_photos.page(page).per(1).each do |comment| %>

                      <% if comment.user.present? %>
                      <div class="user-name">
                          <b><%= comment.user.username %></b>
                      </div>
                      <% end %>
                      <div class="comment-content">
                          <%= comment.photo_comment %>

                      </div>
                      <% if comment.user == current_user %>

                          <%= link_to photo_comment_to_photo_path(photo,comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                              <span class= "delete-comment pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                          <% end %>
                      <% end %>
                      <br>

                      <% end %>
                        <% if photo.comment_to_photos.page(0).last_page? %>
                          END
                        <% else %>
                           <div id="load_more_comment">
                           <%= link_to "Load More", photo_comment_to_photos_path(photo, page: page + 1), remote: true %>
                        </div>

                        <% end %>

              <!-- <% end %> -->
                </div>


