<h1 class="text-center"><%= "Category: " + @category.name %></h1>
<% @category_places.each do |category|%>

   <div class="col-12 col-sm-10 offset-sm-1">
        <div class="card">
            <div class="card-image">
              <% if category.photos.present? %>
                 <%= link_to place_path(category) do %>
                  <%= image_tag category.photos.last.picture, class: "photo-100 img-fluid" %>
                 <% end %>
                <% else %>
                   <%= link_to place_path(category) do %>
                   <!-- <img class="photo-100 img-fluid" src="http://lorempixel.com/555/300/nature"> -->
                   <%= image_tag "image-filler.jpg", class: "photo-100 img-fluid" %>
                 <% end %>
              <% end %>



            </div><!-- card image -->

            <div class="card-content">
                <span class="card-title"><%= category.name %></span> &nbsp;
                <% if category.user%>
                  <small>Posted By: <%=category.user.username %></small>
                <% end %>

              <% if category.categories.any? %>
                <div class="pull-right">
                  <p>Categories</p>
                  <%= render category.categories %>
                </div>
              <% end %>



            </div><!-- card content -->
            <div class="card-action">
                <%= category.description.truncate(50) %>
                <br>
                Location:
                <%= category.address.truncate(50) %>

                <% if category.comments.present? %>
                <br><small>Lastest Comment:</small> <br>

                  <% if category.comments.last.humanized_rating.present? %>
                    <b><%= category.comments.last.humanized_rating %></b> -
                  <% end %>
                  <%= category.comments.last.message.truncate(50) %>
                  <small><i><%= category.comments.last.user.username %></i></small>
                <% end %>
            </div><!-- card actions -->

        </div>
    </div>















<!-- <div class="card">
  <div class="row ">

    <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1428447207228-b396f310848b?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" class="w-100">



      </div>
      <div class="col-md-6 px-3">
        <div class="card-block px-3">
          <h4 class="card-title"><%= category.name %></h4>
          <p class="card-text"><i><%= category.address %></i></p>
          <p class="card-text"><%= category.description %></p>

          <%= link_to "Back", :back, class: "btn btn-outline-secondary btn-sm" %>
          <% if current_user && current_user == category.user %>
          <%= link_to "Edit", edit_place_path(category), class: "btn btn-info btn-sm"  %>

          <%= link_to "Delete", place_path(category), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class: "btn btn-outline-danger btn-sm" %>
          <% end %>
          <br>
          <% if category.user%>
          <small>Posted By: <%=category.user.username %></small>
          <% end %>

        </div>

      </div>


      <div class="col-md-2">
        <% if category.categories.any? %>
          <p class="lead">Categories</p>
          <span class="badge badge-warning"><%= link_to "Edit Category", edit_category_path(@category) %></span><br>

          <%= render category.categories %>
        <% end %>
      </div>

    </div>
  </div>
</div> -->






<% end %>

<%= will_paginate @category_places %>
