<% @places.each do |place| %>
<div class="booyah-box col-12 col-sm-10 offset-sm-1">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h1><%= link_to place.name, place_path(place) %></h1>
      <i><%= place.address %></i> <br> <br>
      <p><%= place.description %></p> <br>
      <p>
        <%= link_to place_path(place), class: "btn btn-outline-info" do %>
          <i class="fa fa-eye"></i> View Info
        <% end %>

      </p>
      <% if place.user%>

        <small>Posted By: <%=place.user.username %></small>

      <% end %>

       <% if place.categories.any? %>
      <br>
        <p>Categories</p>
        <%= render place.categories %>
      <% end %>

    </div>


    <div class="col-12 col-sm-6">
        <% if place.photos.present? %>
       <!-- <div class="row"> -->
        <!-- <div class="col-xs-12 col-sm-4"> -->
        <div class="col-12 center-it">
          <div class="booyah-box">
            <%= link_to place_path(place) do %>
            <%= image_tag place.photos.last.picture, class: 'index-photo img-fluid rounded' %>
            <% end %>
            <div class="clear"></div>
            <br/>
            <b><%= place.photos.last.caption %></b>
          </div>
        </div>
       <!-- </div>  -->
       <% else %>
         <div class="col-12 center-it">
            <div class="booyah-box">
              <%= link_to place_path(place) do %>
              <%= image_tag "image-filler.jpg", class: 'index-photo img-fluid rounded' %>
              <% end %>
            </div>
         </div>

      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1">


      <% if place.comments.present? %>

         <div class="col-12">
          <blockquote>
            <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b> -
            <% end %>
            <%= place.comments.last.message %>
            <small><%= place.comments.last.user.username %></small>
          </blockquote>
        </div>

      <% end %>
    </div>
  </div>

</div>

  <!-- <div class="col-lg-3 col-md-4 col-sm-6 place-index">
      <article class="card">
      <header class="title-header">
        <h3><%=place.name%></h3>
      </header>
      <div class="card-block">
        <div class="img-card">
          <img src="https://placehold.it/300x250" alt="place" class="w-100" />
        </div>
        <p class="tagline card-text text-xs-center"><%= place.description %></p>
        <p class="tagline card-text text-xs-center"><%= place.address %></p>
        <%= link_to place_path(place), class: "btn btn-outline-info btn-sm" do %>
          <i class="fa fa-eye"></i> Read More
        <% end %>


      <% if place.categories.any? %>
      <br>
        <p>Categories</p>
        <%= render place.categories %>
      <% end %>
      <br>
      <% if place.user%>
        <small>Posted By: <%=place.user.username %></small>
      <% end %>
      <% if place.comments.present? %>
      <br><small>Lastest Comment:</small> <br>

        <% if place.comments.last.humanized_rating.present? %>
          <b><%= place.comments.last.humanized_rating %></b> -
        <% end %>
        <%= place.comments.last.message %>
        <small><%= place.comments.last.user.username %></small>
      <% end %>

      </div>


    </article>
  </div>
 -->


<% end %>
