<div class="row">
 <div class="booyah-box col-12 col-md-10 offset-md-1">
  <h1 class="text-green"><%=  @place.name %></h1>
  <br/>
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>

   <% if @place.latitude.present? && @place.longitude.present? %>
    <script>
  function initMap() {
      var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
  }
    </script>
  <!--   <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script> -->

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF2a9CpHY3BmC7iz2j8Oe3ivMig9U0EA0&callback=initMap">
    </script>

    <div id="map"></div>
   <% end %>

   <br />

  <div class="pull-left">
    <% if @place.categories.any? %>
      <br>
        <p>Categories</p>
        <%= render @place.categories %>
      <% end %>
  </div>


  <div class="pull-right">
    <% if current_user %>
      <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
        Add a rating
      </button>
      <button class="btn btn-success" data-toggle="modal" data-target="#photoModal">
        Add your photo
      </button>
    <% end %>


      <% if current_user && current_user== @place.user %>
        <%= link_to 'Edit', edit_place_path(@place), :class => 'btn btn-success' %>
        <%= link_to 'Delete', place_path(@place), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'},:class => 'btn btn-danger' %>
      <% end %>

  </div>
 </div>
</div>

<%= render "bs-modals" %>


 <% if @place.comments.present? %>

<div class="booyah-box col-12 col-md-10 offset-md-1">

  <h3 class="text-center">Rating</h3>
  <div class="row">

      <% @place.comments.each do |comment| %>
        <div class="col-12 col-sm-6">
          <blockquote>
            <% if comment.humanized_rating.present? %>
              <b><%= comment.humanized_rating %></b> -
            <% end %>
            <%= comment.message %>
            <small>by: <i><%= comment.user.username %></i></small>
          </blockquote>
        </div>
      <% end %>
    <% else %>

  </div>

    <% end %>
</div>

<% if @place.photos.present? %>
  <hr>
  <br>
  <p class="text-center">Comments</p>
  <% @place.photos.each do |photo| %>
    <%= render "photos", photo: photo %>

  <% end %>
<% end %>
<!--


<div class="row">
  <div class="col-12 col-sm-10 offset-sm-1">
    <%= render "disqus" %>
  </div>
</div>
 -->









